.hidden
{
	display: none;
}

h1, h2
{
	font-family: 'Nanum Gothic', sans-serif;
}

ul, li, a, p
{
	text-decoration: none;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

#instructions
{

}

#logo
{
	margin-top: -30px;
	margin-bottom: 30px;
}

#mainNav ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

#mainNav ul li
{
	font-size: 20px;
	margin-top: 50px;
}

#bck
{
	background-image: url(../images/bck3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 85%;
	height: 900px;
	margin: 0 auto;
}

#musicBox
{
	background-color: white;
	width: 70%;
	height: 300px;
	margin: -800px auto;

}

.dropZone
{
	height: 100px;
	border: 3px solid black;
	background-color: white; 

}

#buttons
{
	display: flex;
	flex-direction: row;
	width: 200px;
	justify-content: space-evenly;
	padding-top: 20px;
	margin-left: 86px;
}

#musicBox p
{
	color: white;
	font-size: 48px;
	text-align: center;
	padding-top: 200px;
}

#iconsBox
{
	background-color: #333333;
	width: 70%;
	height: 100px;
	margin: 840px auto 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#descBox
{
	background-color: #333333;
	width: 55%;
	height: 150px;
	margin: 0 auto;
	padding-bottom: 50px;
}

#descBox p 
{
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;	
	text-align: left;
	margin-left: 15px !important;
	font-size: 30px;
	margin: 0 auto;
	letter-spacing: 0.3px;
	line-height: 45px;
	width: 98%;


}

#descBox h2
{
	font-size: 26px;
	color: white;
	margin-left: 15px;
	padding-top: 10px;

}
.icon p
{
	text-align: center;
	padding-top: 30px;
}
